body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.logo {
  width: 120px;
  height: 31px;
  background: #096dd9;
  margin: 16px 24px 16px 0;
  float: left;
}
.form_footer_menu{
  text-align: center;
  margin-top: 15px;
}
.form_footer_menu a{

  font-size: 12px;
  color: #8D99A6;
  font-weight: bold;
}
.form_footer_menu a:hover{
  text-decoration: underline;
}
.ant-card.titleHead {
  background: #F0F4F4;
}
.ant-card.titleHead h2{
  font-weight: 700;
  font-size: 35px;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub{
  background-color: rgb(61, 72, 110);
}
.ant-layout-sider{
  background-color: rgb(61, 72, 110);
}
.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
  background-color: rgb(61, 72, 110);
}
.pref-link{
  color: #becbcf;
}
.pref-link:hover{
  color: #001529;
}
